* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    }
    body {
        overflow-x: hidden;
    }
    html {
        scroll-behavior: smooth;
    }
    h2 {
        overflow: hidden;
    }
::-webkit-scrollbar {
    width: .4rem;
}

::-webkit-scrollbar-track {
    background: rgb(198, 245, 240);
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(360deg, #e93d9b 0%, #486ed7 99%);
    border-radius: .2rem;
}
#project div div::-webkit-scrollbar {
    display: none;
}

.tilty-glare-wrapper {
    border-radius: .75rem;
}

    .navA {
        margin: 0px 3px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        position: relative;
        --b: 0.2em;
        --c: #553C9A;
        padding-block: var(--b);
        background:
            linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
            linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
        -webkit-background-clip: text, padding-box;
        background-clip: text, padding-box;
        transition: .3s var(--_s, 0s) linear, background-size .3s calc(.3s - var(--_s, 0s));
    }
    
    .navA:hover {
        --_p: 100%;
        --_s: .3s;
}

.navB {
    display: flex;
    margin-top: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    --s: 0.1em;
    --c: #553C9A;
    padding-bottom: var(--s);
    background:
        linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
}

.navB:hover {
    --_p: 100%
}

.glassyBox {
    padding: 1rem;
    margin: 2rem;
    background: rgba(255, 255, 255, .15);
    border-radius: 1rem;
    box-shadow: 0 0px 30px rgb(255, 255, 255);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(109, 85, 85, 0.91);
}

.dark {
    color: white;
}

#wave {
    color:#000000;
    animation-name: wave-animation;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
